:root {
  --gray: #7d7987;
  --blue: #458ff6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
header {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}
.headerContainerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.headerNav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.headerNav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.59px;
  color: var(--gray);
}
.headerNav ul li a:hover {
  color: #1f1534;
  font-weight: 700;
}
.headerContainerBot {
  display: flex;
  align-items: center;
  gap: 100px;
}
.headerContainerBotLeft {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.headerContainerBot h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.headerContainerBot p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: var(--gray);
}
.headerContainerBot button {
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  background-color: var(--blue);
  border: var(--blue) 1px solid;
  border-radius: 55px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.headerContainerBot button:hover {
  background-color: white;
  color: var(--blue);
}
.headerContainerBot img {
  width: 100%;
}
.element {
  position: absolute;
  width: 131.58px;
  height: 115px;
  top: 160px;
  left: -25px;
  gap: 0px;
  opacity: 0.3px;
}
.sectionOneContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.styleH2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
.styleP2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
}
.sectionOneContainer p {
  text-align: center;
}
.servicesBoxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin: 150px;
}
.servicesBox {
  width: 350px;
  height: 350px;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
  flex: 1 1 calc(33.33% - 35px);
  border-radius: 20px;
  padding: 50px;
  background-color: white;
}
.servicesBox h3 {
  padding-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}
.servicesBox p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: var(--gray);
}
.relativeImg {
  position: relative;
  top: -50px;
  left: 77px;
}
.element1 {
  position: absolute;
  width: 131.58px;
  height: 115px;
  top: 1565px;
  right: 100px;
  gap: 0px;
  opacity: 0.3px;
  z-index: -1;
}
.bgElement {
  position: absolute;
  width: 1118.54px;
  height: 967.94px;
  top: 1065px;
  left: -266px;
  gap: 0px;
  opacity: 0px;
  z-index: -1;
}
.button {
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  background-color: white;
  border: var(--blue) 1px solid;
  border-radius: 55px;
  color: var(--blue);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  background-color: var(--blue);
  color: white;
}
#button2 {
  margin-top: -75px;
}
.sectionTwoContainer {
  display: flex;
  align-items: center;
  margin-top: 200px;
  justify-content: center;
  column-gap: 200px;
}
.rectangle {
  margin-top: 25px;
  margin-bottom: 25px;
}
.sectionTwoRightContainer button {
  margin-top: 50px;
}
.element2 {
  position: absolute;
  width: 131.58px;
  height: 115px;
  top: 2783px;
  right: 0px;
  gap: 0px;
  opacity: 0.3px;
}
.sectionThreeContainer {
  display: flex;
  align-items: center;
  margin-top: 200px;
  justify-content: center;
  column-gap: 200px;
}
.sectionThreeLeftContainer button {
  margin-top: 50px;
}
.sectionThreeLeftContainer img {
  margin-left: 10px;
}
.sectionFourContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
  background-image: url(./img/background.svg);
  background-size: cover;
  width: 80%;
}
