body {
  height: 300vh;
}
.tevas {
  width: 300px;
  min-height: 300px;
  background-color: royalblue;
  position: relative;
  cursor: pointer;
  .vaikas {
    width: 100px;
    height: 100px;
    background-color: darkorange;
    position: absolute;
    right: -200px;
    cursor: pointer;
  }
}
