* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightViolet: #9a54bc;
  --midViolet: #60267f;
  --darkViolet: #2b0236;
}
body {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 36px;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.purpleLine {
  width: 100%;
  height: 20px;
  background: #60267f;
  color: white;
  font-size: 12px;
}
.purpleLine a {
  color: white;
}
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: rgba(220, 220, 220, 0.2) 3px solid;
}
.navigationContainer {
  gap: 20px;
}
.navigationContainer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navigationContainer nav ul li {
  list-style-type: none;
  font-size: 14px;
}
.navigationContainer nav ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #2b0236;
}
.navigationContainer nav ul li a:hover {
  color: #a60505;
}
.headerBtn {
  padding: 5px 10px;
  background-color: transparent;
  border: #9a54bc 2px solid;
  border-radius: 3px;
  font-size: 10px;
  color: #9a54bc;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.headerBtn:hover {
  background-color: #9a54bc;
  color: white;
}
.sectionOneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  flex-direction: column;
  gap: 30px;
}
.sectionOneText {
  font-size: 36px;
  text-align: center;
  color: #2b0236;
}
.sectionOneBtn {
  padding: 15px 20px;
  background-color: var(--lightViolet);
  border: var(--lightViolet) 1px solid;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4.4px 8.8px 0px #0000001a;
}
.sectionOneBtn:hover {
  background-color: white;
  color: var(--lightViolet);
}
.sectionTwoEllipseContainer {
  position: relative;
  margin-top: 200px;
}
.absolute {
  position: absolute;
}
.smallEllipse {
  top: -170px;
}
.rectangle {
  top: -160px;
}
.ellipseLogo {
  top: -50px;
}
.ellipseBtn {
  padding: 7px 12px;
  color: var(--midViolet);
  background-color: white;
  border: 2px solid var(--lightViolet);
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 10px 20px 0px #0000001a;
  top: 130px;
}
.ellipseBtn:hover {
  color: white;
  background-color: var(--midViolet);
}
.iconsContainer {
  width: 100%;
  margin-top: 300px;
  flex-direction: column;
  gap: 50px;
}
.iconsContainer h2 {
  font-size: 36px;
}
.icons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.icons img {
  width: 100px;
}
.howDoesCollabAppHelpContainer {
  margin-top: 150px;
  flex-direction: column;
  gap: 50px;
}
.textAndImgContainer {
  width: 75%;
  height: 400px;
}
.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}
.anchorContainer {
  width: 100%;
  height: 50px;
  justify-content: space-around;
  gap: 5px;
  padding: 5px;
  box-shadow: 0px 3.96px 5.28px 0px #00000017;
  border-radius: 5px;
}
.anchorContainer a {
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}
.anchorContainer a:hover {
  background-color: var(--midViolet);
  border: 2px solid var(--lightViolet);
  color: white;
}
.imgContainer {
  width: 50%;
}
.paraContainer {
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 30px;
}
.textContainerParagraph {
  background-color: #f2f2f2;
  width: 80%;
  padding: 30px 10px;
}
.textContainerParagraph span {
  font-size: 14px;
  font-weight: 500;
}
.imgContainer {
  width: 50%;
}
.imgContainer img {
  margin-top: 220px;
  width: 320px;
}
