* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightViolet: #9a54bc;
  --midViolet: #60267f;
  --darkViolet: #2b0236;
}
body {
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 36px;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.purpleLine {
  width: 100%;
  height: 20px;
  background: #60267f;
  color: white;
  font-size: 12px;
}
.purpleLine a {
  color: white;
}
.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: rgba(220, 220, 220, 0.2) 3px solid;
}
.navigationContainer {
  gap: 20px;
}
.navigationContainer nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.navigationContainer nav ul li {
  list-style-type: none;
  font-size: 14px;
}
.navigationContainer nav ul li a {
  text-decoration: none;
  font-weight: 700;
  color: #2b0236;
}
.navigationContainer nav ul li a:hover {
  color: #a60505;
}
.headerBtn {
  padding: 5px 10px;
  background-color: transparent;
  border: #9a54bc 2px solid;
  border-radius: 3px;
  font-size: 10px;
  color: #9a54bc;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.headerBtn:hover {
  background-color: #9a54bc;
  color: white;
}
.sectionOneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
  flex-direction: column;
  gap: 30px;
}
.sectionOneText {
  font-size: 36px;
  text-align: center;
  color: #2b0236;
}
.sectionOneBtn {
  padding: 15px 20px;
  background-color: var(--lightViolet);
  border: var(--lightViolet) 1px solid;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4.4px 8.8px 0px #0000001a;
}
.sectionOneBtn:hover {
  background-color: white;
  color: var(--lightViolet);
}
.sectionTwoEllipseContainer {
  position: relative;
  margin-top: 200px;
}
.absolute {
  position: absolute;
}
.smallEllipse {
  top: -170px;
}
.rectangle {
  top: -160px;
}
.ellipseLogo {
  top: -50px;
}
.ellipseBtn {
  padding: 7px 12px;
  color: var(--midViolet);
  background-color: white;
  border: 2px solid var(--lightViolet);
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 10px 20px 0px #0000001a;
  top: 130px;
}
.ellipseBtn:hover {
  color: white;
  background-color: var(--midViolet);
}
.iconsContainer {
  width: 100%;
  margin-top: 300px;
  flex-direction: column;
  gap: 50px;
}
.iconsContainer h2 {
  font-size: 36px;
}
.icons {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.icons img {
  width: 100px;
}
.howDoesCollabAppHelpContainer {
  margin-top: 150px;
  flex-direction: column;
  gap: 50px;
}
.textAndImgContainer {
  width: 75%;
  height: 400px;
}
.textContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 50px;
}
.anchorContainer {
  width: 100%;
  height: 50px;
  justify-content: space-around;
  gap: 5px;
  padding: 5px;
  box-shadow: 0px 3.96px 5.28px 0px #00000017;
  border-radius: 5px;
}
.anchorContainer a {
  text-decoration: none;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}
.anchorContainer a:hover {
  background-color: var(--midViolet);
  border: 2px solid var(--lightViolet);
  color: white;
}
.imgContainer {
  width: 50%;
}
.paraContainer {
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  gap: 30px;
}
.textContainerParagraph {
  background-color: #f2f2f2;
  width: 80%;
  padding: 30px 10px;
}
.textContainerParagraph span {
  font-size: 14px;
  font-weight: 500;
}
.imgContainer {
  width: 50%;
}
.imgContainer img {
  margin-top: 220px;
  width: 320px;
}
.fastestSafestContainer {
  flex-direction: column;
  margin-top: 350px;
  gap: 40px;
  width: 100%;
}

.fastestSafestContainer p {
  width: 45%;
  text-align: center;
}
.collabProjectsDoneContainer {
  gap: 80px;
  margin-top: 150px;
  flex-direction: column;
}
.projectsDoneContainer {
  gap: 120px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}
.card img {
  width: 300px;
}
.card span {
  color: var(--midViolet);
  padding: 0 10px;
}
.card p {
  padding: 0 10px;
}
.readyToStartContainer {
  flex-direction: column;
  margin-top: 250px;
}
.readyToStartPara {
  margin-top: 10px;
  color: #a79d9d;
  font-size: 16px;
}
.monthlyContainer {
  margin-top: 30px;
  gap: 10px;
}
.monthly {
  font-size: 14px;
  color: #a79d9d;
}
.yearly {
  font-size: 14px;
  font-weight: 500;
}
.monthlyContainer span {
  font-size: 10px;
  background-color: #ffe87a;
  padding: 2px;
  border-radius: 3px;
}
.bigCardsContainer {
  margin-top: 100px;
  gap: 30px;
  width: 100%;
}
.bigCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 12%;
  border: 1px solid gainsboro;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.bigCard p {
  font-weight: 500;
}
.bigCard button {
  background-color: white;
  padding: 15px 30px;
  color: var(--darkViolet);
  border: 3px solid var(--darkViolet);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
.bigCard ul li {
  margin-top: 5px;
  padding-left: 10px;
}
.bigCard ul li::marker {
  content: "►";
}
.bigCard:hover {
  background-color: #56e6a5;
}
.bigCardsContainer .bigCard .bigCardLastPara {
  font-size: 12px;
  font-weight: 300;
}
.s1 {
  margin-top: 150px;
  background: #e2bdf21c;
}
.s1Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s1Para {
  position: relative;
  display: flex;
  font-size: 10.56px;
  font-weight: 500;
  line-height: 14.09px;
  text-align: center;
  width: 27.5%;
  margin-top: 25px;
  margin-bottom: 15px;
}
.s1ImgPara {
  font-size: 10.56px;
  font-weight: 400;
  line-height: 12.38px;
  text-align: center;
}
.arrowLeft {
  position: relative;
  left: -75px;
  background-color: inherit;
  border: none;
}
.arrowRight {
  position: relative;
  right: -75px;
  background: inherit;
  border: none;
}
.arrowLeft:hover {
  cursor: pointer;
}
.arrowRight:hover {
  cursor: pointer;
}
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinUs {
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
}

.mainCon {
  flex-direction: column;
}

.mainCon h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.mainCon p {
  width: 56%;
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}

.mainCon button {
  padding: 10px;
  color: white;
  background: rgba(154, 84, 188, 1);
  border-radius: 4px;
  border: 2px solid rgba(154, 84, 188, 1);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.mainCon button:hover {
  color: rgba(154, 84, 188, 1);
  background: white;
}

.imgCon {
  width: 50%;
  margin-bottom: 80px;
  position: relative;
  left: -250px;
}

.imgCon .line {
  left: 120px;
  top: -10px;
  width: 1100px;
  position: absolute;
}

.imgCon span {
  position: relative;
  color: rgba(154, 84, 188, 1);
  font-weight: 500;
  font-size: 17px;
  left: 1030px;
  top: 60px;
}

.imgCon .face1 {
  width: 80px;
  position: absolute;
  left: 90px;
  top: -30px;
  z-index: 1;
}

.face2 {
  width: 80px;
  position: absolute;
  left: 230px;
  top: 140px;
  z-index: 1;
}

.face3 {
  width: 80px;
  position: absolute;
  left: 390px;
  top: 110px;
  z-index: 1;
}

.face4 {
  width: 80px;
  position: absolute;
  left: 550px;
  top: 190px;
  z-index: 1;
}

.face5 {
  width: 80px;
  position: absolute;
  left: 720px;
  top: 200px;
  z-index: 1;
}

.face6 {
  width: 80px;
  position: absolute;
  left: 900px;
  top: 170px;
  z-index: 1;
}

.face7 {
  width: 80px;
  position: absolute;
  left: 1050px;
  top: 210px;
  z-index: 1;
}

.face8 {
  width: 80px;
  position: absolute;
  left: 1170px;
  top: 90px;
  z-index: 1;
}
.downLoadBox {
  width: 100%;
  height: 400px;
  flex-direction: column;
  gap: 20px;
  background-color: #9a54bc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 360px;
}

.downLoadBox h2 {
  font-weight: 600px;
  font-size: 40px;
  color: white;
  margin-bottom: 0;
}

.downLoadBoxBtns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.downLoadBoxBtns button {
  width: 120px;
  height: 35px;
  border-radius: 3px;
  border: white solid 2px;
  font-weight: 700;
  font-size: 10px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.downLoadBoxBtns button:hover {
  background-color: white;
  color: #9a54bc;
  transition: all 0.6s ease-in-out;
}
.questionMapContainer {
  width: 100%;
  gap: 30px;
  margin-top: 150px;
  background-color: #e2bdf21c;
}
.leftTextStill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.leftTextStill p {
  font-weight: 500;
}

.frame {
  margin-left: 50px;
}
.collabFooterContainer {
  width: 100%;
  margin-top: 150px;
}
.leftSide p {
  padding: 20px 0;
}
.spans span {
  margin-right: 15px;
}

.footerList ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  margin-left: 140px;
  margin-top: 50px;
}

.footerList2 ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  margin-top: 5px;
  margin-left: -180px;
  margin-bottom: 85px;
}
.footerList3 ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 55px;
}
.footerList a,
.footerList3 a {
  text-decoration: none;
  color: #60267f;
}

.footerList li {
  padding: 200px;
}
.footerList2 a {
  text-decoration: none;
  color: #60267f;
}

.google {
  margin-left: 50px;
}

.purpleFooter {
  width: 100%;
  height: 20px;
  background-color: #60267f;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-family: "DM sans";
}
